/* Секция Постоянные клиенты */
.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &-item {
    margin: 15px;
  }
}

.customers-item > a {
  @extend %flexCentred;
  @include iconLinkSize(210px, 90px, 4px);
  border: 1px solid #afb1b8;

  background-color: $main-background-color;

  transition: border-color $transition-duration-250ms $cubic-bezier;
  &:hover,
  &:focus {
    border-color: $hover-color;
  }
  @media screen and (min-width: $tablet) {
    @include iconLinkSize(226px, 90px, 4px);
  }
  @media screen and (min-width: $desktop) {
    @include iconLinkSize(170px, 90px, 4px);
  }
}

.customers-icon {
  fill: $icon-color;

  transition: fill $transition-duration-250ms $cubic-bezier;
  .customers-item > a:hover &,
  .customers-item > a:focus & {
    fill: $hover-color;
  }
}
