/*                                        Шапка сайта  */
.header {
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: $tablet) {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.menu-container {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.button-menu {
  display: inline-flex;

  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }
  &.is-open {
    .icon-cross {
      display: block;
    }
    .icon-menu {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-wrapper {
  background-color: $main-background-color;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    display: none;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}
/* Навигация */

.nav-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-title-color;

  transition: color $transition-duration-250ms $cubic-bezier;
  &:hover,
  &:focus {
    color: $hover-color;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contakt-linkD {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;

  transition: color $transition-duration-250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

.nav-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-right: 84px;
  }
}
.nav-listD {
  display: flex;
  margin-left: 85px;
}
.contakt-list {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
.contakt-list .linkD {
  display: flex;
}

.nav-list .itemD:not(:last-child) {
  margin-right: 50px;
}
.contakt-list .itemD:not(:last-child) {
  margin-right: 30px;
}
.icon-mailD {
  align-self: center;
  // width: 16px;
  // height: 11px;
  margin-top: 1px;
  margin-right: 10px;
  fill: $text-color;

  transition: fill $transition-duration-250ms $cubic-bezier;

  .contakt-link:hover &,
  .contakt-link:focus & {
    fill: $hover-color;
  }
}
.icon-phoneD {
  align-self: center;
  // width: 10px;
  // height: 15px;
  margin-right: 10px;
  fill: $text-color;

  transition: fill $transition-duration-250ms $cubic-bezier;

  .contakt-link:hover &,
  .contakt-link:focus & {
    fill: $hover-color;
  }
}
