/*                                        Шапка сайта  */

/* Навигация */
.nav-linkD {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-title-color;

  transition: color $transition-duration-250ms $cubic-bezier;
  &:hover,
  &:focus {
    color: $hover-color;
  }
}
.contakt-linkD {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;

  transition: color $transition-duration-250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}
.headerD {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navD {
  display: flex;
  align-items: center;
}
.nav-listD {
  display: flex;
  margin-left: 85px;
}
.contakt-listD {
  display: flex;
  align-items: center;
}
.contakt-list .linkD {
  display: flex;
}

.nav-list .itemD:not(:last-child) {
  margin-right: 50px;
}
.contakt-list .itemD:not(:last-child) {
  margin-right: 30px;
}
.icon-mailD {
  align-self: center;
  // width: 16px;
  // height: 11px;
  margin-top: 1px;
  margin-right: 10px;
  fill: $text-color;

  transition: fill $transition-duration-250ms $cubic-bezier;

  .contakt-link:hover &,
  .contakt-link:focus & {
    fill: $hover-color;
  }
}
.icon-phoneD {
  align-self: center;
  // width: 10px;
  // height: 15px;
  margin-right: 10px;
  fill: $text-color;

  transition: fill $transition-duration-250ms $cubic-bezier;

  .contakt-link:hover &,
  .contakt-link:focus & {
    fill: $hover-color;
  }
}
