/*                                        Шапка сайта  */

/* Логотип */
.logo {
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: #188ce8;
}
.black-studio {
  color: #000000;
}
/* Анимация Логотипа */
.animate__pulse {
  animation-duration: 1000ms;
}
/* Навигация */
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-title-color;

  transition: color $transition-duration-250ms $cubic-bezier;
  &:hover,
  &:focus {
    color: $hover-color;
  }
}
.contakt-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;

  transition: color $transition-duration-250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}
.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  margin-left: 85px;
}
.contakt-list {
  display: flex;
  align-items: center;
}
.contakt-list .link {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}
.contakt-list .item:not(:last-child) {
  margin-right: 30px;
}
.icon-mail {
  align-self: center;
  width: 16px;
  height: 11px;
  margin-top: 1px;
  margin-right: 10px;
  fill: $text-color;

  transition: fill $transition-duration-250ms $cubic-bezier;

  .contakt-link:hover &,
  .contakt-link:focus & {
    fill: $hover-color;
  }
}
.icon-phone {
  align-self: center;
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: $text-color;

  transition: fill $transition-duration-250ms $cubic-bezier;

  .contakt-link:hover &,
  .contakt-link:focus & {
    fill: $hover-color;
  }
}
