/*                                Секция Портфолио */
.main-portfolio {
  @media screen and (max-width: $desktop - 1px) {
    padding-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 93px;
    margin-bottom: 94px;
  }
}
.filter {
  // margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
  .filter-item {
    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 15px;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  .list {
    display: flex;
    @media screen and (max-width: $tablet - 1px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: $tablet) {
      justify-content: center;
    }
  }
}
.filter-button {
  border-width: 0;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  margin: 0;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;

  background-color: $background-color;
  color: $main-title-color;

  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition: background-color $transition-duration-250ms $cubic-bezier,
    color $transition-duration-250ms $cubic-bezier,
    box-shadow $transition-duration-250ms $cubic-bezier;
  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $main-write-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
  &.current {
    background-color: $hover-color;
    color: $main-write-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }
}
.portfolio {
  @media screen and (max-width: $tablet - 1px) {
    margin-top: 25px;
  }
}
.portfolio-nameD {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $main-title-color;
}
.portfolio-webD,
.portfolio-designD,
.portfolio-appD,
.portfolio-marketingD {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;

  color: $text-color;
}

.portfolio > .listD {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-linkD {
  display: block;
  transition: box-shadow $transition-duration-250ms $cubic-bezier;
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-cardD {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/* Кроме каждого третьего */
.portfolio-itemD:not(:nth-child(3n)) {
  margin-right: 30px;
}
/* Кроме трех  последних с конца */
.portfolio-itemD:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-thumbD {
  position: relative;
  overflow: hidden;
}
.portfolio-abouDt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: $main-write-color;

  transform: translateY(100%);
  transition: transform $transition-duration-250ms $cubic-bezier;
  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}
