/*                                   Наш div.container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* Линия и фон для проверки */
  /* outline: 1px solid red; */
  /* background-color: yellowgreen; */
}
